---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  chart:
    spec:
      chart: grafana
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana
  interval: 1m0s
  values:
    route:
      main:
        enabled: true
        hostnames: ["grafana.homelab.veselabs.com"]
        parentRefs:
          - name: gateway
            namespace: kube-system
